.btn {
  display: block;
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s;
  &:hover {
    background-color: #333;
    color: #fff;
  }
  &.btn__reverse {
    background-color: #333;
    color: #fff;
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }
  &.btn__brown {
    color: #592b18;
    border-color: #592b18;
    &:hover {
      color: #fff;
      background-color: #592b18;
    }
  }

  &.btn__gold {
    color: #d9aa8a;
    border-color: #d9aa8a;
    &:hover {
      color: #fff;
      background-color: #d9aa8a;
    }
  }
  &.btn__white {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: #333;
      background-color: #fff;
    }
  }
}
